.fonty{

font-size: 1.8vw !important;
color: rgb(255, 150, 150);

display: flex;
justify-content: space-around;

}
.outliners{
    justify-content: center;
   align-items: center;
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(255, 159, 159);
    padding: 40px;
    box-shadow: 0 0 0 10px rgb(245, 138, 138);
    outline: dashed 10px #009688;
  
}
.z100-size{
    max-height: 90px !important; 
    max-width:130px !important 
}
.z200-size{
    max-height: 94px !important; 
    max-width:150px !important
}
.z300-size{
    max-height: 98px !important; 
    max-width:180px !important
}
.z400-size{
    max-height: 101px !important; 
    max-width:240px !important
}
.z500-size{
    max-height: 105px !important; 
    max-width:280px !important 
}
.no-wrapper{

    white-space: nowrap;
 text-align: center ;

}
